AI_Hospital_Pre-Visit_Intake_Assistant_cleaned.json
{
  "name": "AI Hospital Pre-Visit Intake Assistant",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Hospital Pre-Visit Medical Intake",
        "formDescription": "Please complete this pre-visit intake form so our care team can prepare for your appointment. The information you provide will be reviewed by our clinical staff before your visit. If any details are incomplete or appear contradictory, your submission may be flagged for manual nurse review. This form does not provide medical advice and is not a substitute for professional care. In an emergency, call your local emergency number.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "e.g. Jane Doe",
              "requiredField": true
            },
            {
              "fieldLabel": "Date of Birth",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "e.g. jane@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "placeholder": "e.g. +1 555 123 4567"
            },
            {
              "fieldLabel": "Reason for Visit",
              "placeholder": "e.g. persistent headache",
              "requiredField": true
            },
            {
              "fieldLabel": "Current Symptoms",
              "fieldType": "textarea",
              "placeholder": "Describe what you are experiencing",
              "requiredField": true
            },
            {
              "fieldLabel": "Symptom Duration",
              "placeholder": "e.g. 3 days, 2 weeks",
              "requiredField": true
            },
            {
              "fieldLabel": "Current Medications",
              "fieldType": "textarea",
              "placeholder": "List any medications you take (optional)"
            },
            {
              "fieldLabel": "Known Allergies",
              "fieldType": "textarea",
              "placeholder": "List any known allergies (optional)"
            },
            {
              "fieldLabel": "Relevant Medical History",
              "fieldType": "textarea",
              "placeholder": "Any relevant past conditions or surgeries (optional)"
            }
          ]
        },
        "options": {
          "buttonLabel": "Submit Intake",
          "path": "hospital-intake",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you. Your intake form has been received. Our care team will review your information before your appointment."
            }
          }
        }
      },
      "id": "b4a5a1ce-3545-4e98-a086-fd18936d43aa",
      "name": "Pre-Visit Intake Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        144,
        -256
      ],
      "webhookId": "YOUR_WEBHOOK_ID_HERE"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Raw Submissions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "Submission Time": "={{ $json.submittedAt || $now.toISO() }}",
            "Full Name": "={{ $json[\"Full Name\"] }}",
            "DOB": "={{ $json[\"Date of Birth\"] }}",
            "Email": "={{ $json[\"Email Address\"] }}",
            "Phone": "={{ $json[\"Phone Number\"] || \"\" }}",
            "Reason for Visit": "={{ $json[\"Reason for Visit\"] }}",
            "Symptoms": "={{ $json[\"Current Symptoms\"] }}",
            "Duration": "={{ $json[\"Symptom Duration\"] }}",
            "Medications": "={{ $json[\"Current Medications\"] || \"\" }}",
            "Allergies": "={{ $json[\"Known Allergies\"] || \"\" }}",
            "Medical History": "={{ $json[\"Relevant Medical History\"] || \"\" }}"
          },
          "schema": [
            {
              "id": "Submission Time",
              "displayName": "Submission Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Reason for Visit",
              "displayName": "Reason for Visit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Symptoms",
              "displayName": "Symptoms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Medications",
              "displayName": "Medications",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Allergies",
              "displayName": "Allergies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Medical History",
              "displayName": "Medical History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "47e1b472-31be-449b-9df5-85fdbb7ba883",
      "name": "Store Raw Submission",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        112
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an administrative medical intake assistant for a hospital front desk.\nYou DO NOT diagnose patients and you DO NOT give medical advice or treatment recommendations.\nYou only perform administrative intake processing: structuring, triage tiering, and quality checks.\n\nCRITICAL RULES:\n- Never invent, assume, or hallucinate any information that is not present in the submission.\n- If a required detail is missing, list it in missing_information instead of guessing.\n- If two fields contradict each other (e.g. symptom described as lasting 3 weeks in one field but \"started yesterday\" in another), list the exact contradiction in contradictory_information.\n- If the complaint is vague/low-signal (e.g. \"I don't feel well\"), set vague_complaint = true.\n- Set needs_review = true if there is any contradiction, clinically important missing information, or a vague complaint that cannot be triaged confidently. Otherwise needs_review = false.\n- Urgency must be one of: Routine, Same-Day, Urgent. Reserve Urgent for red-flag symptoms (e.g. severe chest pain, shortness of breath).\n\nPATIENT SUBMISSION:\nFull Name: {{ $(\"Pre-Visit Intake Form\").item.json[\"Full Name\"] }}\nDate of Birth: {{ $(\"Pre-Visit Intake Form\").item.json[\"Date of Birth\"] }}\nReason for Visit: {{ $(\"Pre-Visit Intake Form\").item.json[\"Reason for Visit\"] }}\nCurrent Symptoms: {{ $(\"Pre-Visit Intake Form\").item.json[\"Current Symptoms\"] }}\nSymptom Duration: {{ $(\"Pre-Visit Intake Form\").item.json[\"Symptom Duration\"] }}\nCurrent Medications: {{ $(\"Pre-Visit Intake Form\").item.json[\"Current Medications\"] || \"Not provided\" }}\nKnown Allergies: {{ $(\"Pre-Visit Intake Form\").item.json[\"Known Allergies\"] || \"Not provided\" }}\nRelevant Medical History: {{ $(\"Pre-Visit Intake Form\").item.json[\"Relevant Medical History\"] || \"Not provided\" }}\n\nReturn only the structured JSON described by the output schema.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "0010ad82-d62d-416e-9f1b-4ca3cf358789",
      "name": "AI Intake Processing",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        112
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "67963a16-fba2-400a-8d91-fdb7bc4b224f",
      "name": "OpenAI GPT-4o Mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"chief_complaint\":{\"type\":\"string\",\"description\":\"The single main reason for the visit in clinical shorthand\"},\"symptoms\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"List of extracted symptoms\"},\"symptom_duration\":{\"type\":\"string\",\"description\":\"Normalized duration; if multiple conflicting durations exist, note the conflict\"},\"urgency\":{\"type\":\"string\",\"enum\":[\"Routine\",\"Same-Day\",\"Urgent\"]},\"department\":{\"type\":\"string\",\"description\":\"Likely department/specialty e.g. General Medicine, Cardiology, Dermatology\"},\"missing_information\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"Key fields that are missing but clinically expected\"},\"contradictory_information\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"Any internal contradictions found between fields\"},\"vague_complaint\":{\"type\":\"boolean\",\"description\":\"True if the complaint is too vague/low-signal to triage confidently\"},\"needs_review\":{\"type\":\"boolean\",\"description\":\"True if a human nurse must review before proceeding\"},\"review_reason\":{\"type\":\"string\",\"description\":\"Short explanation of why review is or is not required\"},\"confidence_score\":{\"type\":\"number\",\"description\":\"Confidence 0-1 in this administrative assessment\"},\"doctor_summary\":{\"type\":\"string\",\"description\":\"One-page doctor-facing pre-consultation summary in clinical shorthand\"}},\"required\":[\"chief_complaint\",\"urgency\",\"department\",\"needs_review\",\"review_reason\",\"confidence_score\",\"doctor_summary\"]}"
      },
      "id": "f2ac20cd-cff9-439e-9a1b-054f5955f481",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "submission_time",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json.submittedAt || $now.toISO() }}"
            },
            {
              "id": "a2",
              "name": "patient_name",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Full Name\"] }}"
            },
            {
              "id": "a3",
              "name": "dob",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Date of Birth\"] }}"
            },
            {
              "id": "a4",
              "name": "email",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Email Address\"] }}"
            },
            {
              "id": "a5",
              "name": "phone",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Phone Number\"] || \"Not provided\" }}"
            },
            {
              "id": "a6",
              "name": "reason_for_visit",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Reason for Visit\"] }}"
            },
            {
              "id": "a7",
              "name": "symptoms_text",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Current Symptoms\"] }}"
            },
            {
              "id": "a8",
              "name": "duration_text",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Symptom Duration\"] }}"
            },
            {
              "id": "a9",
              "name": "medications",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Current Medications\"] || \"None provided\" }}"
            },
            {
              "id": "a10",
              "name": "allergies",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Known Allergies\"] || \"None provided\" }}"
            },
            {
              "id": "a11",
              "name": "medical_history",
              "type": "string",
              "value": "={{ $(\"Pre-Visit Intake Form\").item.json[\"Relevant Medical History\"] || \"None provided\" }}"
            },
            {
              "id": "a12",
              "name": "chief_complaint",
              "type": "string",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.chief_complaint }}"
            },
            {
              "id": "a13",
              "name": "extracted_symptoms",
              "type": "string",
              "value": "={{ ($(\"AI Intake Processing\").item.json.output.symptoms || []).join(\", \") }}"
            },
            {
              "id": "a14",
              "name": "urgency",
              "type": "string",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.urgency }}"
            },
            {
              "id": "a15",
              "name": "department",
              "type": "string",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.department }}"
            },
            {
              "id": "a16",
              "name": "confidence",
              "type": "number",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.confidence_score }}"
            },
            {
              "id": "a17",
              "name": "doctor_summary",
              "type": "string",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.doctor_summary }}"
            },
            {
              "id": "a18",
              "name": "needs_review",
              "type": "boolean",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.needs_review }}"
            },
            {
              "id": "a19",
              "name": "review_reason",
              "type": "string",
              "value": "={{ $(\"AI Intake Processing\").item.json.output.review_reason }}"
            },
            {
              "id": "a20",
              "name": "missing_information",
              "type": "string",
              "value": "={{ ($(\"AI Intake Processing\").item.json.output.missing_information || []).join(\"; \") || \"None\" }}"
            },
            {
              "id": "a21",
              "name": "contradictions",
              "type": "string",
              "value": "={{ ($(\"AI Intake Processing\").item.json.output.contradictory_information || []).join(\"; \") || \"None\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1cf54df9-cc3f-4b71-ba15-449ed21398da",
      "name": "Prepare Case Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        112
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Appointment Intake Received",
        "message": "=<p>Dear {{ $json.patient_name }},</p><p>Thank you for completing your pre-visit medical intake form. This email confirms that we have received your submission.</p><p>Your healthcare provider will review the information you submitted before your appointment. Please note this message does not contain any medical advice.</p><p>If your symptoms worsen or you experience an emergency, please contact your local emergency services immediately.</p><p>Kind regards,<br/>The Care Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "179a9f1d-88d6-4720-982a-9dd65aa8bf64",
      "name": "Send Patient Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        16
      ],
      "webhookId": "YOUR_WEBHOOK_ID_2",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.needs_review }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c6e1d900-70b2-4ccd-84ed-0bfe7da1fa4b",
      "name": "Check Needs Review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        208
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Needs Review"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "Patient Name": "={{ $(\"Prepare Case Data\").item.json.patient_name }}",
            "Review Reason": "={{ $(\"Prepare Case Data\").item.json.review_reason }} | Missing: {{ $(\"Prepare Case Data\").item.json.missing_information }} | Contradictions: {{ $(\"Prepare Case Data\").item.json.contradictions }}",
            "Summary": "={{ $(\"Prepare Case Data\").item.json.doctor_summary }}",
            "Timestamp": "={{ $(\"Prepare Case Data\").item.json.submission_time }}"
          },
          "schema": [
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Reason",
              "displayName": "Review Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "7b9fa523-7308-460d-8a9c-d196bb034b76",
      "name": "Log Needs Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        112
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $vars.NURSE_REVIEW_EMAIL }}",
        "subject": "=[Nurse Review Needed] {{ $(\"Prepare Case Data\").item.json.patient_name }} - {{ $(\"Prepare Case Data\").item.json.urgency }}",
        "message": "=<p>A pre-visit intake submission requires <strong>manual nurse review</strong>.</p><ul><li><strong>Patient:</strong> {{ $(\"Prepare Case Data\").item.json.patient_name }}</li><li><strong>Reason for visit:</strong> {{ $(\"Prepare Case Data\").item.json.reason_for_visit }}</li><li><strong>Urgency (provisional):</strong> {{ $(\"Prepare Case Data\").item.json.urgency }}</li><li><strong>Suggested department:</strong> {{ $(\"Prepare Case Data\").item.json.department }}</li><li><strong>Why flagged:</strong> {{ $(\"Prepare Case Data\").item.json.review_reason }}</li><li><strong>Missing information:</strong> {{ $(\"Prepare Case Data\").item.json.missing_information }}</li><li><strong>Contradictions:</strong> {{ $(\"Prepare Case Data\").item.json.contradictions }}</li></ul><p>The automated doctor brief was intentionally skipped for this case. Please review before the appointment.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "323d6823-75f6-4106-be36-9b6b83fa63db",
      "name": "Notify Staff - Review Required",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        112
      ],
      "webhookId": "YOUR_WEBHOOK_ID_3",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Processed Patients"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "Chief Complaint": "={{ $(\"Prepare Case Data\").item.json.chief_complaint }}",
            "Urgency": "={{ $(\"Prepare Case Data\").item.json.urgency }}",
            "Department": "={{ $(\"Prepare Case Data\").item.json.department }}",
            "Confidence": "={{ $(\"Prepare Case Data\").item.json.confidence }}",
            "Doctor Summary": "={{ $(\"Prepare Case Data\").item.json.doctor_summary }}"
          },
          "schema": [
            {
              "id": "Chief Complaint",
              "displayName": "Chief Complaint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Doctor Summary",
              "displayName": "Doctor Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "b3978300-aa00-4cae-b3bc-7c54dcd0c74a",
      "name": "Log Processed Patient",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        304
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $vars.PRECONSULT_DRIVE_FOLDER_ID }}",
        "title": "=Patient Pre-Consultation Summary - {{ $(\"Prepare Case Data\").item.json.patient_name }}"
      },
      "id": "44216ccd-7a01-43e1-a0d4-8fc034a13009",
      "name": "Create Pre-Consultation Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1472,
        304
      ],
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_DOCS_CRED_ID",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=PATIENT PRE-CONSULTATION SUMMARY\n\n== PATIENT DETAILS ==\nName: {{ $(\"Prepare Case Data\").item.json.patient_name }}\nDate of Birth: {{ $(\"Prepare Case Data\").item.json.dob }}\nEmail: {{ $(\"Prepare Case Data\").item.json.email }}\nPhone: {{ $(\"Prepare Case Data\").item.json.phone }}\n\n== REASON FOR VISIT ==\n{{ $(\"Prepare Case Data\").item.json.reason_for_visit }}\n\n== SYMPTOMS ==\nReported: {{ $(\"Prepare Case Data\").item.json.symptoms_text }}\nExtracted: {{ $(\"Prepare Case Data\").item.json.extracted_symptoms }}\n\n== DURATION ==\n{{ $(\"Prepare Case Data\").item.json.duration_text }}\n\n== MEDICATION ==\n{{ $(\"Prepare Case Data\").item.json.medications }}\n\n== ALLERGIES ==\n{{ $(\"Prepare Case Data\").item.json.allergies }}\n\n== MEDICAL HISTORY ==\n{{ $(\"Prepare Case Data\").item.json.medical_history }}\n\n== TRIAGE ==\nChief Complaint: {{ $(\"Prepare Case Data\").item.json.chief_complaint }}\nUrgency: {{ $(\"Prepare Case Data\").item.json.urgency }}\nDepartment: {{ $(\"Prepare Case Data\").item.json.department }}\nConfidence: {{ $(\"Prepare Case Data\").item.json.confidence }}\n\n== DOCTOR SUMMARY ==\n{{ $(\"Prepare Case Data\").item.json.doctor_summary }}\n\nGenerated: {{ $(\"Prepare Case Data\").item.json.submission_time }}"
            }
          ]
        }
      },
      "id": "8f1c41cd-d75a-43f9-9151-d4ce6ab28a3a",
      "name": "Add Report Content",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1696,
        304
      ],
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_DOCS_CRED_ID",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Create Pre-Consultation Doc\").item.json.id }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "=Pre-Consultation - {{ $(\"Prepare Case Data\").item.json.patient_name }}.pdf"
        }
      },
      "id": "8a3f205c-60a7-4756-bccc-cd329df4ed69",
      "name": "Export Doc as PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        304
      ],
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CRED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $vars.CLINIC_STAFF_EMAIL }}",
        "subject": "=[Intake Ready] {{ $(\"Prepare Case Data\").item.json.patient_name }} - {{ $(\"Prepare Case Data\").item.json.urgency }}",
        "message": "=<p>A new pre-visit intake has been processed and a doctor brief is ready.</p><ul><li><strong>Patient:</strong> {{ $(\"Prepare Case Data\").item.json.patient_name }}</li><li><strong>Urgency:</strong> {{ $(\"Prepare Case Data\").item.json.urgency }}</li><li><strong>Department:</strong> {{ $(\"Prepare Case Data\").item.json.department }}</li><li><strong>Review Status:</strong> No manual review required</li><li><strong>Google Docs Link:</strong> <a href=\"https://docs.google.com/document/d/{{ $(\"Create Pre-Consultation Doc\").item.json.id }}/edit\">Open pre-consultation summary</a></li></ul><p>A PDF copy is attached.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "3d5fd9f4-00a2-4236-a23f-549f8b28c758",
      "name": "Notify Staff - Case Ready",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2144,
        304
      ],
      "webhookId": "YOUR_WEBHOOK_ID_4",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Pre-Visit Intake Form": {
      "main": [
        [
          {
            "node": "Store Raw Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Submission": {
      "main": [
        [
          {
            "node": "AI Intake Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intake Processing": {
      "main": [
        [
          {
            "node": "Prepare Case Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intake Processing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Intake Processing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Case Data": {
      "main": [
        [
          {
            "node": "Send Patient Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Needs Review": {
      "main": [
        [
          {
            "node": "Log Needs Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Processed Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Needs Review": {
      "main": [
        [
          {
            "node": "Notify Staff - Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Processed Patient": {
      "main": [
        [
          {
            "node": "Create Pre-Consultation Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pre-Consultation Doc": {
      "main": [
        [
          {
            "node": "Add Report Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Report Content": {
      "main": [
        [
          {
            "node": "Export Doc as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Doc as PDF": {
      "main": [
        [
          {
            "node": "Notify Staff - Case Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dba77f1c-8c82-47b7-9b70-e7e0d1d2b585",
  "meta": {
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}